.popup {
    display: none;
    background: url(../images/pattern.png) repeat top,#fffbf7;
    max-width: 890px;
    padding: 35px 60px 50px;
    margin: 15px;
}

.popup__caption {
	font:700 35px "Lora";
	text-align: center;
	color: #272727;
	margin-bottom: 32px;
}

.form__inputs {
	margin: 0 -15px;
}

.form__field {
    display: block;
    box-sizing: border-box;
    width: 50%;
    padding: 7px 15px;
}

.form__label {
	display: block;
	font: 400 18px "Lora";
	color: #4B3D31;
	margin-bottom: 10px;
}

.form__input {
    display: block;
    box-sizing: border-box;
	border: none;
	background: #FFFDFC;
	height: 54px;
    width: 100%;
	font: 400 17px "Lora";
    outline: none;
    padding: 0 20px;
}

input:not([type=submit]):focus {
	border: 1px solid #000;
}

.form__checkbox {
    position: relative;
    cursor: pointer;
    margin: 39px 0 18px;
    display: flex;
    justify-content: center;
}

.form__checkbox input {
	display: none;
}

.form__checkbox-label {
	font: 400 16px "Lora";
	color: #000000;
	padding-left: 35px;
	position: relative;
}

.form__checkbox-label:before {
	content: '';
	background: #ECE2D8;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
    line-height: 22px;
}

.form__checkbox input:checked + .form__checkbox-label:before {
	content: '+';
}

.form__button {
	margin: 0 auto;
}

.ui-datepicker {
    background: #FFFDFC;
	box-shadow: 0 0 6px 0px rgba(0,0,0,0.2);
    padding: 15px;
    font-size: 16px;
    margin-top: 10px;
}

.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker-prev {
	font: 400 18px "Lora";
	cursor: pointer;
}

.ui-datepicker-next {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	font: 400 18px "Lora";
}

.ui-datepicker-title {
	font: 400 18px "Lora";
	color: #4B3D31;
	margin: 10px 0;
	text-align: center;
}

.ui-datepicker-calendar a {
    color: #a0795b;
    text-decoration: none;
    padding: 5px;
}

.select {
	position: relative;
}

.select__field {
	display: block;
    box-sizing: border-box;
	border: none;
	background: #FFFDFC;
	height: 54px;
    width: 100%;
	font: 400 17px/54px "Lora";
    outline: none;
    padding: 0 20px;
    cursor: default;
}

.select ul {
    display: none;
    background: #fffdfc;
    width: calc(100% - 30px);
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    box-sizing: border-box;
    top: 100px;
    left: 15px;
    z-index: 1;
}

.select ul li {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font: 400 17px/40px "Lora";
    padding: 0 20px;
    cursor: default;
}

.select ul li:hover {
    background-color: #ECE2D8;
}

@media screen and (max-width: 1279px) {


}


@media screen and (max-width: 1023px) {


}


@media screen and (max-width: 767px) {
	
	.popup {
		padding: 30px 20px;
	}
	
	.form__field {
		width: 100%;
		max-width: 400px;
	}

}


@media screen and (max-width: 639px) {


}