/*header*/

header {
	min-width: 360px;
    box-sizing: border-box; 
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.logo {
    display: block;
    background: url(../../images/logo.png) no-repeat center;
	background-size: contain;
    width: 170px;
    height: 55px;
}


header .menu {
    display: block;
    padding: 0;
    margin: 0;
}

header .menu li {
    list-style: none;
    float: left;
    position: relative;
}

header .menu a {
    display: inline-block;
    font-size: 18px;
    color: #ccc;
    text-decoration: none;
    padding: 0 25px;
    line-height: 60px;
}

header .menu a:hover{
	color: #979797;
}

header li a:hover{
	color: rgb(53, 72, 254);
}

.burger {
	display: none;
    position: relative;
    width: 54px;
    height: 54px; 
    margin: auto 0;
    cursor: pointer;
    background: #747474;
    border-radius: 4px;
    margin-left: 10px;
}

.burger span, .burger span::before, .burger span::after {
	display: block;
    cursor: pointer;
    height: 3px;
    width: 34px;
    background: #fff;
    position: absolute;
    top: 13px;
    right: 10px;
    transition: all .2s ease-in-out;
}

.burger span::before {
    content: '';
    left: 0;
	top: 12px;
}

.burger span::after {
    content: '';
    left: 0;
    top: 23px;
}

.burger_active span {
    background-color: transparent;
}
    
.burger_active span::before  {
    transform: rotate(45deg);
    top: 11px;
}

.burger_active span::after  {
    transform: rotate(-45deg);
    top: 11px;
} 

/*media*/ 

@media screen and (max-width: 1279px) {
	header {
		padding: 10px 0;
	}
	
	.burger {
		display: block
	}
	
	.navbar {
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		z-index: 1;
	}
	
	header .menu {
		display: none;
		height: auto;
		margin: 0;
		width: 100%;
		text-align: center;
		background: #000000f2;
		z-index: 2;
		min-width: 360px;
	}
    
    header .menu>li {
        float: none;
		border-bottom: 1px solid #1f1f1f;
    }
    
    header .menu>li a {
		display: block; 
	} 
	
	header .menu>li:last-child a {
		padding: 0 25px;
	}
	
	header .menu li:hover .sub-menu {
		display: none;
	}
	
	header .menu li .sub-menu {
        position: static;
        background: #aeaeaef2;
    }
	
}

@media screen and (max-width: 1023px) {
	
	
}

@media screen and (max-width: 767px) {
   
}

@media screen and (max-width: 639px) {
    
	
}