.rooms-screen {
	padding: 50px 0;
}

.room {
	flex-wrap: nowrap;
}

.room__text {
	flex: 1;
	box-sizing: border-box;
	padding: 30px 0 0 50px;
}

.room__caption {
	font: 700 28px "Lora";
	color: #272727;
}

.room__caption span {
	font: 400 45px "Lora";
	color: #A0795B;
}

.room__icon {
    background: url(../../images/css_sprites.png) no-repeat -125px -261px;
	width: 45px;
	height: 40px;
}

.room__icon_shower {
    background-position: -371px -29px;
}

.room__icon_tv {
    background-position: -371px -125px;
}

.room__icon_bed {
    background-position: -371px -222px;
}

.room__icon_kitchen {
    background-position: -221px -259px;
}