.service-screen {
    background: url(../../images/background-wood.png) repeat center;
    background-size: cover;
    padding: 140px 0 80px;
    overflow: hidden;
    position: relative;
}

.service-screen:before {
	content: "";
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.service-screen__caption {
    margin-bottom: 85px;
}


.services {
	flex-wrap: nowrap;
	margin: 0 -20px;
	position: relative;
}

.services__item {
    box-sizing: border-box;
	width: 25%;
    padding: 20px;
}

.services__icon {
    background: url(../../images/css_sprites.png) no-repeat -30px -28px;
    width: 62px;
    height: 60px;
    margin: 0 auto 15px;
}

.services__item_shower .services__icon {
    background-position: -147px -28px;
}

.services__item_tv .services__icon {
    background-position: -28px -145px;
}

.services__item_bed .services__icon {
    background-position: -147px -144px;
}

.services__item_kitchen .services__icon {
    background-position: -261px -25px;
}

.services__description {
    font: 400 16px "Lora";
	color: #E6C0A2;
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
}


/*media*/ 

@media screen and (max-width: 1279px) {
	
	
	
}

@media screen and (max-width: 1023px) {
	
	
}

@media screen and (max-width: 767px) {
	.services {
		margin: 0;
	}
	
	.services__item {
		flex-direction: column;
	}
}

@media screen and (max-width: 639px) {
	
}


