<div class="docs-screen">
	<div class="wrapper">
		<div class="docs-screen__caption caption">
    		<div class="caption__text1">Документы гостиницы</div>
    		<h2 class="caption__text2">Гостиница в Тотьме</h2>
    	</div>
		<div class="documents">
			<div class="documents__doc">
				<a href="/images/doc.jpg" data-fancybox="gallery" data-caption="Лицензия001">
				   <img src="/images/doc.jpg" alt="лицензия" class="">
				</a>
			</div>
			<div class="documents__doc">
				<a href="/images/doc.jpg" data-fancybox="gallery" data-caption="Лицензия001">
				   <img src="/images/doc.jpg" alt="лицензия" class="">
				</a>
			</div>
			<div class="documents__doc">
				<a href="/images/doc.jpg" data-fancybox="gallery" data-caption="Лицензия001">
				   <img src="/images/doc.jpg" alt="лицензия" class="">
				</a>
			</div>
			<div class="documents__doc">
				<a href="/images/doc.jpg" data-fancybox="gallery" data-caption="Лицензия001">
				   <img src="/images/doc.jpg" alt="лицензия" class="">
				</a>
			</div>
			<div class="documents__doc">
				<a href="/images/doc.jpg" data-fancybox="gallery" data-caption="Лицензия001">
				   <img src="/images/doc.jpg" alt="лицензия" class="">
				</a>
			</div>
			<div class="documents__doc">
				<a href="/images/doc.jpg" data-fancybox="gallery" data-caption="Лицензия001">
				   <img src="/images/doc.jpg" alt="лицензия" class="">
				</a>
			</div>
		</div>
	</div>
</div>