<div class="info-screen">
	<div class="wrapper">
		<div class="info-screen__caption caption">
			<div class="caption__text1">О гостинице</div>
			<h2 class="caption__text2">Гостиница в Тотьме</h2>
		</div>
		<p>Наши гости оценивают его как уютный и комфортный. Именно по этой причине многие возвращаются к нам снова, ведь жить там, где царит спокойная атмосфера, а обстановка напоминает родной дом, всегда приятно. Персонал поддерживает в гостинице атмосферу русского гостеприимства и стремится сделать пребывание в гостинице комфортным. Если Вы планируете провести выходной в Тотьме или Вам предстоит командировка – выбирайте нашу гостиницу. Дешево, уютно, комфортно и весело – такие впечатления остаются после посещения гостиницы «Картуши». Забронировать номер легко! Выберите удобный для себя способ: заполните форму на сайте, оставьте заявку в группе ВКонтакте или просто позвоните. Побывав у нас однажды, Вы обязательно вернетесь сюда снова. Приезжаете в Тотьму – останавливайтесь в гостинице «Картуши»!</p>
	</div>
</div>