<div id="teacher" class="person">
	<div class="person__wrapper flex">
		<div class="person__img" style="background: url(../../images/slide-4.jpg) no-repeat center"></div>
		<div class="person__text">
			<div class="person__name">Журавлева Алевтина Андреевна</div>
			<div class="person__position">Бизнес-тренер, психолог</div>
			<h3>Образование:</h3>
			<p>Санкт-Петербургский государственный университет, Факультет психологии</p>
			<h3>Достижения:</h3>
			<p>Более 12 лет является психологом-консультантом, а также специалистом по обучению и развитию персонала в различных организациях.</p>
			<p>В должности Начальника отдела обучения крупной транспортно-логистической компании создала и провела десятки тренингов и семинаров для персонала, создала стандарты предоставления услуг и стандарты работы с клиентами, которые компания продолжает использовать и внедрять в новых офисах и представительствах.</p>
			<h3>Направление преподавательской деятельности:</h3>
			<p>Продажи, переговоры, деловая переписка, типология клиентов, конфликты, социальная психология, развитие памяти, развитие креативности, эмоциональный интеллект.</p>
		</div>	
	</div>
</div>
 