<div class="reviews-screen" id="reviews">
	<div class="wrapper">
		<div class="reviews-screen__caption caption">
    		<div class="caption__text1 caption__text1_white">Отзывы о гостинице</div>
    		<h2 class="caption__text2">Гостиница в Тотьме</h2>
    	</div>
		<div class="reviews flex">
			<div class="reviews__item">
				<div class="reviews__name">Алексей Михайлов</div>
				<div class="reviews__description">Наши гости оценивают его как уютный и комфортный. Именно по этой причине многие возвращаются к нам снова, ведь жить там, где царит спокойная атмосфера, а обстановка напоминает родной дом, всегда приятно. Персонал поддерживает в гостинице ...</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__name">Ольга Петрова</div>
				<div class="reviews__description">Наши гости оценивают его как уютный и комфортный. Именно по этой причине многие возвращаются к нам снова, ведь жить там, где царит спокойная атмосфера, а обстановка напоминает родной дом, всегда приятно. Персонал поддерживает в гостинице ...</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__name">Олег Иванов</div>
				<div class="reviews__description">Наши гости оценивают его как уютный и комфортный. Именно по этой причине многие возвращаются к нам снова, ведь жить там, где царит спокойная атмосфера, а обстановка напоминает родной дом, всегда приятно. Персонал поддерживает в гостинице ...</div>
			</div>
			<div class="reviews__item">
				<div class="reviews__name">Олег Иванов</div>
				<div class="reviews__description">Наши гости оценивают его как уютный и комфортный. Именно по этой причине многие возвращаются к нам снова, ведь жить там, где царит спокойная атмосфера, а обстановка напоминает родной дом, всегда приятно. Персонал поддерживает в гостинице ...</div>
			</div>
		</div>
		<a href="#" class="reviews-screen__button button">Оставить отзыв</a>
	</div>
</div>