<div class="rooms-screen" id="rooms">
	<div class="wrapper">
		<div class="rooms-screen__caption caption">
    		<div class="caption__text1">Номера</div>
    		<h2 class="caption__text2">Гостиница в Тотьме</h2>
    	</div>
		<div class="room flex">
			<div class="room__img">
				<div class="room__caption room__caption_mobile">Одноместный <span>от <span>600</span> руб.</span></div>
				<div class="room__slider">
					<a href="images/room1.jpg" data-fancybox="room1" data-caption="">
					   <img src="images/room1.jpg" alt="">
					</a>
					<a href="images/room2.jpg" data-fancybox="room1" data-caption="">
					   <img src="images/room2.jpg" alt="">
					</a>
					<a href="images/room3.jpg" data-fancybox="room1" data-caption="">
					   <img src="images/room3.jpg" alt="">
					</a>
				</div>
				<a href="#popup" data-fancybox="" class="room__button button">Забронировать</a>
			</div>
			<div class="room__text">
				<div class="room__caption">Одноместный <span>от <span>600</span> руб.</span></div>
				<div class="room__description">Наши гости оценивают его как уютный и комфортный. Именно по этой причине многие возвращаются к нам снова, ведь жить там, где царит спокойная атмосфера, а обстановка напоминает родной дом, всегда приятно. Персонал поддерживает в гостинице атмосферу русского гостеприимства и стремится сделать пребывание в гостинице комфортным. Если Вы планируете провести выходной в Тотьме или Вам предстоит командировка – выбирайте нашу гостиницу.</div>
				<div class="room__icons flex">
					<div class="room__icon room__icon_wifi"></div>
					<div class="room__icon room__icon_shower"></div>
					<div class="room__icon room__icon_tv"></div>
					<div class="room__icon room__icon_bed"></div>
					<div class="room__icon room__icon_kitchen"></div>
				</div>
				<a href="#popup" data-fancybox="" class="room__button room__button_mobile button">Забронировать</a>
			</div>
		</div>
		<div class="room flex">
			<div class="room__img">
				<div class="room__caption room__caption_mobile">Одноместный <span>от <span>600</span> руб.</span></div>
				<div class="room__slider">
					<a href="images/room2.jpg" data-fancybox="room1" data-caption="">
					   <img src="images/room2.jpg" alt="">
					</a>
					<a href="images/room1.jpg" data-fancybox="room1" data-caption="">
					   <img src="images/room1.jpg" alt="">
					</a>
					<a href="images/room3.jpg" data-fancybox="room1" data-caption="">
					   <img src="images/room3.jpg" alt="">
					</a>
				</div>
				<a href="#" class="room__button button">Забронировать</a>
			</div>
			<div class="room__text">
				<div class="room__caption">Одноместный <span>от <span>600</span> руб.</span></div>
				<div class="room__description">Наши гости оценивают его как уютный и комфортный. Именно по этой причине многие возвращаются к нам снова, ведь жить там, где царит спокойная атмосфера, а обстановка напоминает родной дом, всегда приятно. Персонал поддерживает в гостинице атмосферу русского гостеприимства и стремится сделать пребывание в гостинице комфортным. Если Вы планируете провести выходной в Тотьме или Вам предстоит командировка – выбирайте нашу гостиницу.</div>
				<div class="room__icons flex">
					<div class="room__icon room__icon_wifi"></div>
					<div class="room__icon room__icon_shower"></div>
					<div class="room__icon room__icon_tv"></div>
					<div class="room__icon room__icon_bed"></div>
					<div class="room__icon room__icon_kitchen"></div>
				</div>
				<a href="#" class="room__button room__button_mobile button">Забронировать</a>
			</div>
		</div>
		<div class="room flex">
			<div class="room__img">
				<div class="room__caption room__caption_mobile">Одноместный <span>от <span>600</span> руб.</span></div>
				<div class="room__slider">
					<a href="images/room3.jpg" data-fancybox="room1" data-caption="">
					   <img src="images/room3.jpg" alt="">
					</a>
					<a href="images/room2.jpg" data-fancybox="room1" data-caption="">
					   <img src="images/room2.jpg" alt="">
					</a>
					<a href="images/room1.jpg" data-fancybox="room1" data-caption="">
					   <img src="images/room1.jpg" alt="">
					</a>
				</div>
				<a href="#" class="room__button button">Забронировать</a>
			</div>
			<div class="room__text">
				<div class="room__caption">Одноместный <span>от <span>600</span> руб.</span></div>
				<div class="room__description">Наши гости оценивают его как уютный и комфортный. Именно по этой причине многие возвращаются к нам снова, ведь жить там, где царит спокойная атмосфера, а обстановка напоминает родной дом, всегда приятно. Персонал поддерживает в гостинице атмосферу русского гостеприимства и стремится сделать пребывание в гостинице комфортным. Если Вы планируете провести выходной в Тотьме или Вам предстоит командировка – выбирайте нашу гостиницу.</div>
				<div class="room__icons flex">
					<div class="room__icon room__icon_wifi"></div>
					<div class="room__icon room__icon_shower"></div>
					<div class="room__icon room__icon_tv"></div>
					<div class="room__icon room__icon_bed"></div>
					<div class="room__icon room__icon_kitchen"></div>
				</div>
				<a href="#" class="room__button room__button_mobile button">Забронировать</a>
			</div>
		</div>
	</div>
</div>