<div class="service-screen">
	<div class="wrapper">
		<div class="service-screen__caption caption">
    		<div class="caption__text1 caption__text1_white">Доступный бесплатный сервис</div>
    		<h2 class="caption__text2">Гостиница в Тотьме</h2>
    	</div>
		<div class="services flex">
			<div class="services__item services__item_wifi">
				<div class="services__icon"></div>
				<div class="services__description">Бесплатный WIFI</div>
			</div>
			<div class="services__item services__item_shower">
				<div class="services__icon"></div>
				<div class="services__description">Уютный душ</div>
			</div>
			<div class="services__item services__item_tv">
				<div class="services__icon"></div>
				<div class="services__description">Большой телевизор</div>
			</div>
			<div class="services__item services__item_bed">
				<div class="services__icon"></div>
				<div class="services__description">Мягкие кровати</div>
			</div>
			<div class="services__item services__item_kitchen">
				<div class="services__icon"></div>
				<div class="services__description">Современная кухня</div>
			</div>
		</div>
	</div>
</div>