@import "parts/jquery.fancybox.min.css";
@import "parts/slick.less";
@import "parts/slick-theme.less";
@import "parts/base-blocks.less";
@import "parts/header.less";
@import "parts/main-screen.less";
@import "parts/service-screen.less";
@import "parts/rooms.less";
@import "parts/reviews.less";
@import "parts/footer.less";
@import "parts/form.less";

.info-screen {
    padding: 135px 0 70px;
}

.info-screen__caption {
    margin-bottom: 60px;
}

.docs-screen {
	padding: 135px 0 80px;
}

.docs-screen__caption {
    margin-bottom: 85px;
}

.documents__doc {
	box-sizing: border-box;
    padding: 0 20px;
}

.documents__doc a {
	width: 100%;
	border: 4px solid rgb(255,255,255);
}

.documents__doc a:focus {
	outline: none;
}

.documents__doc a:hover {
	border: 4px solid #E6C0A2;
}

.documents__doc a img {
	width: 100%;
}

.map-screen {
	position: relative;
}

.map {
	position: relative;
	width: 100%;
	height: 485px;
	background: #e6c0a2;
}

.contacts {
	box-sizing: border-box;
	background: #FFFFFF;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
	position: absolute;
	left: calc((100% - 1170px)/2);
	top: 80px;
	padding: 62px 55px;
	z-index: 1;
	font: 400 15px "Lora";
	color: #272727;
}

.contacts__caption {
	font: 700 24px "Lora";
	text-align: center;
	margin-bottom: 17px;
}

.contacts__contact {
	padding: 4px 0;
}

.contacts__contact_phone a {
	text-decoration: none;
	color: #272727;
}

.contacts__contact_mail a {
	color: #A0795B;
}

.contacts__social {
	margin-top: 17px;
}

.contacts__icon {
	display: block;
	background: url('../images/VK.svg') no-repeat center;
	background-size: contain;
	width: 40px;
	height: 40px;
	margin-right: 5px;
}

.contacts__icon_insta {
	background: url('../images/Instagram.svg') no-repeat center;
	background-size: contain;
}





/*media*/

@media screen and (max-width: 1279px) {
	.contacts {
		left: 15px;
	}
}

@media screen and (max-width: 1023px) {
	.contacts {
		position: static;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.info-screen {
		padding: 75px 0 20px;
	}
	
	.docs-screen {
		padding: 90px 0 50px;
	}
	
	.contacts {
		padding: 40px 15px;
	}
}

@media screen and (max-width: 767px) {
	.documents__doc a {
		max-width: 200px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 639px) {


}